{% extends "basicPage.html"%}

{%block title%}Multi Tool Holster - Gerber {%endblock%}

{%block content%}
<div id = "main-content">
    <h1>Multitool Holster</h1>
    <p id="pro-desc">This project is about making a custom holster for the Gerber Multi-Plier 600 Basic, that can be clipped on to pants, and has a smoother connection rather than velcro.</p>
    <ul class="project-history-list">
        <li>
            <h1 class="project-history-title">Original Holster and Multitool</h1>
            <p>The problem is that I got a nice multitool from Gerber, yet I did not like the holster for it. The original one is nice, but it has velcro for the attachment mechanism, and no clip to connect to pants with no belt loops. The images bellow are what the orignal holster looked like.</p>
            <img src="{{ url_for('static', filename='images/holster_1_1.jpg') }}" alt = "Original Holster Front"> 
            <img src="{{ url_for('static', filename='images/holster_1_2.jpg') }}" alt = "Original Holster Back"> 
        </li>
        <li>
            <h1 class="project-history-title">3D Printed Version</h1>
            <p>I had tried a 3D printed Version, but it was very bulky, and would let the tool rattle alot. Overall the idea was just bad overall, so that was very quickly scrapped.</p>
            <img src="{{ url_for('static', filename='images/holster_2.jpg') }}" alt = "version 1.0.0"> 
        </li>
        <li>
            <h1 class="project-history-title">First Hand Sewn Holster</h1>
            <p>There was a scrap that was taken to prove that the fabric I had gotten would be strong enough to hold the tool</p>
            <img src="{{ url_for('static', filename='images/holster_2.1.jpg') }}" alt = "version 1.0.0"> 
            <p>This version was the first real attempt to sow a holster. There was white thread used so that I could clearly see how straight my stiches were. I had a magnet included in the folding piece as the closing mechanism. The clip also was comfortable, but the attachment method was buttons, and those were not strong enough.</p>
            <img src="{{ url_for('static', filename='images/holster_3_1.jpg') }}" alt = "version 1.0.0"> 
            <img src="{{ url_for('static', filename='images/holster_3_2.jpg') }}" alt = "version 1.0.0"> 
            <img src="{{ url_for('static', filename='images/holster_3_3.jpg') }}" alt = "version 1.0.0"> 
        </li>
        <li>
            <h1 class="project-history-title">Next Version</h1>
            <p>Coming Soon<sup>TM</sup></p>
        </li>
    </ul>
</div>
{%endblock%}