{% extends "basicPage.html"%}

{%block title%}Portfolio Website{%endblock%}

{%block content%}
<div id = "main-content">
    <h1>Portfolio Website</h1>
    <p id="pro-desc">This is the Portfolio Website that you are on!</p>
    <ul class="project-history-list">
        <li>
            <h1 class="project-history-title">Version 1.0.0</h1>
            <p>This was the very first version of the website that was published. It layed the ground work for future build offs, including the scalable project system. It looked something like this!</p>
            <img src="{{ url_for('static', filename='images/portfolioWeb_1.0.0.png') }}" alt = "version 1.0.0"> 
        </li>
    </ul>
</div>
{%endblock%}
