{% extends "basicPage.html"%}

{%block title%}Contact Me{%endblock%}

{%block content%}
<div id = "main-content">
    <h1>About Me</h1>
    <p>While in highschool I found that I liked making things, regardless of the method of making.  I started out in coding, but thankfully my brother indroduced me to 3D printing, and I haven't stopped. There may be times where I don't print or code for a couple of months on end but I am still making something!</p>
    <h1>Contact Me</h1>
    <p>Feel Free to email me if you are interested in any of the projects I have going on!</p>
    <p>Email: lbaron082@gmail.com</p>
    <h2>Other Accounts</h2>
    <ul id='accounts'>
        <li><a href="https://github.com/lbaron2">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/lance-baron-9b2361301/">Linkedin</a></li>
    </ul>
</div>
{%endblock%}