{% extends "basicPage.html"%}

{%block title%}Projects{%endblock%}

{%block content%}
<div id = "main-content">
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
    <h1>Projects</h1>
</div>
{%endblock%}